:root{
  --color-primary: #0077b6;
}

body{
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

button{
  padding: .5em 1em;
}

.section-header{
  display: flex;
  gap: 1rem;
  align-items: center;
}